#plot {
    margin: 1em auto;
    position: relative;
    border: black solid 1px;
    background-color: #d3d3d3;
    overflow: hidden;
}

#plot > div.guide {
    display: block;
    position: absolute;
    margin-top: -6px;
    margin-left: -6px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 5px;
    border: black solid 1px;
}
